* {
	padding: 0;
	margin: 0;
	font-family: Avenir, sans-serif;
}

@import "variables";
@import "toolbar";

#webview {
	background-color: transparent;
	width: 100%;
	position: fixed;
	bottom: 0;
	top: calc(100% - 96px);
}
