* {
	padding: 0;
	margin: 0;
	font-family: Avenir, sans-serif;
}

@import url("variables.css");
@import url("toolbar");

#webview {
	background-color: black;
	border: none;
	width: 100%;
	position: fixed;
	bottom: 0;
	top: 96px;
}
