#header {
	background-color: var(--primary);
	color: white;
	height: 80px;
	padding: 20px;
}
#header > input[type='text'] {
	color: #013;
	background-color: #fff8;
	height: 80px;
	width: 400px;
	border: none;
	border-radius: 40px;
	transform: translate(0, -13px);
}

.header-icon {
	height: 80px;
	width: 80px;
}
