#header {
	background-color: var(--primary);
	color: white;
	height: 32px;
	padding: 8px;
}
#header > input[type='text'] {
	color: #013;
	background-color: #fff8;
	height: 32px;
	width: 128px;
	border: none;
	border-radius: 16px;
	transform: translate(0, -13px);
}

.header-icon {
	height: 32px;
	width: 32px;
}
