#header {
	background-color: var(--primary);
	color: white;
	height: 32px;
	padding: 16px;
}
#header > input[type='text'] {
	color: #013;
	background-color: #fff8;
	height: 100%;
	border: none;
	border-radius: 16px;
	vertical-align: baseline;
	transform: translate(0, -50%);
}

.header-icon {
	height: 32px;
	width: 32px;
}
